<h2>TodoList</h2>
<div *ngFor="let todo of todos" class="todo-item">
  <h3 class="todo-title">{{ todo.title }}</h3>
  <p class="todo-description">{{ todo.description }}</p>
  <p class="todo-points">Reward: {{ todo.points }} coins</p>
  <p class="todo-points">Skills: {{ todo.skills }}</p>
  <p class="todo-points">Start: {{ todo.startDate }}</p>
  <p class="todo-points">Deadline: {{ todo.endDate }}</p>


  <p class="todo-status">Status: {{ todo.isCompleted ? 'Completed' : 'Not Completed' }}</p>
</div>
