<div *ngFor="let todo of todos" class="todo-item">
  <a [routerLink]="['/todo', todo.id]" class="todo-link">
  <p class="todo-title">{{ todo.name }}</p>
  <p class="todo-description">{{ todo.description }}</p>
  <p class="todo-points">Reward: {{ todo.rewards }} coins</p>
  <p class="todo-skills">Skills: {{ todo.skills }}</p>
  <p class="todo-date">Start: {{ todo.startDate }}</p>
  <p class="todo-date">Deadline: {{ todo.endDate }}</p>
  <p class="todo-isCompleted">IsCompleted: {{ todo.isCompleted }}</p>
  </a>
</div>
