<p-table [value]="tasks" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Reward</th>
      <th scope="col">Start Date</th>
      <th scope="col">Deadline</th>
      <th scope="col">Completed</th>
      <th scope="col">Status</th>
      <th scope="col">Assignee</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-task>
    <tr>
      <td>
        <a [routerLink]="['/task', task.id]" class="task-link">{{ task.name }}</a>
      </td>
      <td>{{ task.rewards }} </td>
      <td>{{ task.startDate | date:'yyyy-MM-dd' }}</td>
      <td>{{ task.dueDate | date:'yyyy-MM-dd' }}</td>
      <td>
        <p-tag *ngIf="task.isCompleted" severity="success" value="Yes"></p-tag>
        <p-tag *ngIf="!task.isCompleted" severity="warning" value="No"></p-tag>
      </td>
      <td>
        <!-- Fix the severity attribute to use string literal type instead of dynamic value -->
        <ng-container [ngSwitch]="getStatusLabel(task.status)">
          <p-tag *ngSwitchCase="'Done'" severity="success" [value]="getStatusLabel(task.status)"></p-tag>
          <p-tag *ngSwitchCase="'InProgress'" severity="info" [value]="getStatusLabel(task.status)"></p-tag>
          <p-tag *ngSwitchCase="'Blocked'" severity="danger" [value]="getStatusLabel(task.status)"></p-tag>
          <p-tag *ngSwitchCase="'Waiting'" severity="warning" [value]="getStatusLabel(task.status)"></p-tag>
          <p-tag *ngSwitchDefault severity="info" [value]="getStatusLabel(task.status)"></p-tag>
        </ng-container>
      </td>
      <td>{{ task.assigneeName || 'Unassigned' }}</td>
    </tr>
  </ng-template>
</p-table>

<!-- Show New Task button only for users with permission -->
<div class="new-task-container" *ngIf="permissionService.canCreateTasks()">
  <p-button
    label="Neues Task"
    icon="pi pi-plus"
    severity="success"
    [routerLink]="['/task/new']">
  </p-button>
</div>

<!-- Show Quick Add button only for users with permission -->
<div class="new-task-container" *ngIf="permissionService.canCreateTasks()">
  <p-button
    label="Schnelleingabe"
    icon="pi pi-bolt"
    severity="info"
    [routerLink]="['/task/quick-add']"
    [style]="{'margin-left': '10px'}">
  </p-button>
</div>
