<div *ngIf="todoForm; else loading" class="todo-item" [formGroup]="todoForm">
  <div class="todo-content">

    <div class="form-group">
      <input id="name" type="text" formControlName="name" pInputText required />
      <label for="name">Name</label>
      <p class="error-message" *ngIf="todoForm.get('name')?.invalid && todoForm.get('name')?.touched">
        Der Name ist erforderlich.
      </p>
    </div>

    <div class="form-group">
      <textarea id="description" formControlName="description"  ></textarea>
      <label for="description">Description</label>
    </div>

    <div class="form-group">
      <p-inputNumber id="rewards" formControlName="rewards" required></p-inputNumber>
      <label for="rewards">Reward (Coins)</label>
    </div>

    <div class="form-group">
      <input id="skills" type="text" formControlName="skills" />
      <label for="skills">Skills (comma-separated)</label>
    </div>

    <div class="form-group">
      <p-calendar id="startDate" formControlName="startDate" dateFormat="yy-mm-dd"></p-calendar>
      <label for="startDate">Start Date</label>
    </div>

    <div class="form-group">
      <p-calendar id="endDate" formControlName="endDate" dateFormat="yy-mm-dd"></p-calendar>
      <label for="endDate">Deadline</label>
    </div>

    <div class="form-group checkbox-group">
      <p-checkbox id="isCompleted" formControlName="isCompleted" [binary]="true"></p-checkbox>
      <label for="isCompleted" class="checkbox-label">Completed</label>
    </div>


  </div>

  <!-- Buttons -->
  <div class="button-group">
    <p-button label="Update Todo" (click)="updateTodo()" styleClass="p-button-warn" [disabled]="todoForm.invalid"></p-button>
    <p-button label="Delete Todo" (click)="deleteTodo()" styleClass="p-button-danger"></p-button>
    <p-button label="Back to Todo List" (click)="goBack()" styleClass="p-button-info"></p-button>
    <p-button label="Create New Todo" (click)="addTodo()" styleClass="p-button-success"></p-button>
  </div>
</div>

<ng-template #loading>
  <p>Loading Todo Details...</p>
</ng-template>
