<div *ngIf="todoForm; else loading" xmlns="http://www.w3.org/1999/html" class="todo-item" [formGroup]="todoForm">
  <div class="todo-content">
    <div class="form-group">
      <label for="name">Name:</label>
      <input id="name" type="text" placeholder=" " formControlName="name" />
      <p class="error-message" *ngIf="todoForm.get('name')?.invalid && todoForm.get('name')?.touched">
        Der Name ist erforderlich.
      </p>
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" placeholder="Description" formControlName="description"></textarea>
    </div>

    <div class="form-group">
      <label for="rewards">Reward:</label>
      <p-inputNumber id="rewards" formControlName="rewards" placeholder="coins"></p-inputNumber>
    </div>

    <div class="form-group">
      <label for="skills">Skills (comma-separated):</label>
      <input id="skills" type="text" placeholder="Skills" formControlName="skills" />
    </div>

    <div class="form-group">
      <label for="startDate">Start Date:</label>
      <p-calendar id="startDate" formControlName="startDate" dateFormat="yy-mm-dd"></p-calendar>
    </div>

    <div class="form-group">
      <label for="endDate">Deadline:</label>
      <p-calendar id="endDate" formControlName="endDate" dateFormat="yy-mm-dd"></p-calendar>
    </div>

    <div class="form-group">
      <label for="status">Status:</label>
      <p-dropdown
        id="status"
        formControlName="isCompleted"
        [options]="statusOptions"
        placeholder="Select Status"
      ></p-dropdown>
    </div>
  </div>

  <!-- Buttons -->
  <div class="button-group">
    <p-button label="Update Todo" (click)="updateTodo()" styleClass="p-button-warn" [disabled]="todoForm.invalid"></p-button>
    <p-button label="Delete Todo" (click)="deleteTodo()" styleClass="p-button-danger"></p-button>
    <p-button label="Back to Todo List" (click)="goBack()" styleClass="p-button-info"></p-button>
    <p-button label="Create New Todo" (click)="addTodo()" styleClass="p-button-success"></p-button>
  </div>
</div>

<ng-template #loading>
  <p>Loading Todo Details...</p>
</ng-template>
