.todo-list {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item {
  font-family: 'Avenir Next', serif;
  font-size: 1.2rem;
  text-align: left;
}

.todo-total-count {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
  color: olivedrab;
}

.todo-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.todo-link:hover {
  text-decoration: underline;
  color: #2f88e1;
}
